.h-container
{
    
    /* justify-content:space-between; */
    padding-top: 1rem;
    padding-bottom: 1rem;
} 
.h-wrapper
{
    color: white;
}
.h-menu{
    gap: 2rem;
    padding-left:  500px;
    color: white;
    justify-content:space-between;
}
.aa{
    color: whitesmoke;
}
h1
{
    font-size: 55px;
    margin-left: 45px;
}

.h-menu>*:hover{
    cursor: pointer;
}
.body{
    background-image: url(/public/1.avif);

}
.button
{background:rgb(169, 47, 194);
    padding: 0.6rem 1.4rem;}
.blue-gradient
{
 position: absolute;
 width: 50px;
 height:30px ;
 background: rgb(20, 20, 116);
 
}